/* style.css */
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* 背景は黒 */
  overflow: hidden; /* スクロールバーを出さない */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block; /* キャンバスの余白を消す */
}